h6 {
  font-family: "Changa One", cursive;
}

a:hover {
  text-decoration: none;
}

.body {
  /* padding: 0; */
  font-family: "Roboto Slab", serif;
}

.navbar-default {
  background: #fff;
  box-shadow: 0px 2px 15px -5px gray;
  border-color: transparent;
}

.info-title {
  /* font-weight: bold; */
  border-bottom: solid 5px red;
  font-family: "Changa One", cursive;
}

.info-text {
  font-size: 1.4em;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.sub-text {
  padding-left: 35px;
}
