.body {
  /* padding: 0; */
  background-color: #ecf0f1;
}
.info-title {
  font-weight: bold;
  font-family: helvetica, sans-serif;
}

.info-text {
  font-size: 1.4em;
  font-family: helvetica, sans-serif;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.sub-text {
  padding-left: 35px;
}
